.container {
    max-height: 600px;
    min-height: 300px;
    width: 350px;
    border-radius: 2px;
    padding: 20px;
    background: white;
}

body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}